body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
  }

  .main-content {
    flex: 1;
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar {
    background-color: #005f73;
    padding: 1rem;
  }

  .nav-link,
  .nav-icon {
    color: white !important;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .nav-link:hover,
  .nav-icon:hover {
    color: #ffb703 !important;
    transform: scale(1.05);
  }

  .nav-icon {
    font-size: 2rem; /* Asegúrate de que ambos íconos tengan el mismo tamaño */
  }

  .btn-custom {
    background-color: #023e8a;
    border-color: #023e8a;
    color: white;
    font-family: "Arial", sans-serif;
    transition: background-color 0.3s ease, border-color 0.3s ease,
      transform 0.3s ease;
  }

  .btn-custom:hover {
    background-color: #0077b6 !important;
    border-color: #0077b6 !important;
    transform: translateY(-2px);
  }

  .container-footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .logo-img {
    height: 6rem;
    width: auto;
  }

  .link {
    font-size: 0.9rem;
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: #ffb703;
    text-decoration: underline;
  }

  .divider {
    margin: 1.5rem 0;
    border: 1px solid #495057;
  }