body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.main-content {
  flex: 1;
  padding: 2rem 0;
}

.navbar {
  background-color: #005f73;
  padding: 1rem;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.nav-link,
.nav-icon {
  color: white !important;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover,
.nav-icon:hover {
  color: #ffb703 !important;
  transform: scale(1.05);
}

.nav-icon {
  font-size: 2rem;
}

.btn-custom {
  background-color: #023e8a;
  border-color: #023e8a;
  color: white;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    transform 0.3s ease;
}

.btn-custom:hover {
  background-color: #0077b6 !important;
  border-color: #0077b6 !important;
  transform: translateY(-2px);
}

.main-content {
  flex: 1;
  padding: 0; /* Eliminar el padding para que la imagen ocupe todo el espacio */
  position: relative; /* Para posicionar el texto sobre la imagen */
}

.main-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Para asegurar que la imagen no se salga del contenedor */
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto asegura que la imagen cubra todo el contenedor sin distorsionarse */
  object-position: center; /* Centra la imagen */
}

.main-content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Cambia el color del texto para que sea visible sobre la imagen */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra al texto para mejorar la legibilidad */
  width: 80%; /* Ajusta según sea necesario */
}

.main-content-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main-content-text p {
  font-size: 1.2rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-img {
  height: 6rem;
  width: auto;
}

.link {
  font-size: 0.9rem;
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffb703;
  text-decoration: underline;
}

.divider {
  margin: 1.5rem 0;
  border: 1px solid #495057;
}

.fondo-ver {
  background: url(../img/Diseno_sin_titulo1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  height: 300px;
}
